<div class="col-md-2">
  <div class="form-floating">
    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
      <option value="1" selected>Casa</option>
      <option value="2">Apartamento</option>
    </select>
    <label for="floatingSelectGrid">Casa / Apartamento</label>
  </div>
</div>
<div class="col-md-2">
  <div class="form-floating">
    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
      <option value="1" selected>Aluguel</option>
      <option value="2">Compra</option>
    </select>
    <label for="floatingSelectGrid">Tipo</label>
  </div>
</div>

<div class="col-md-2">
  <div class="form-floating">
    <input type="number" class="form-control" id="floatingInput" placeholder="valor min locação">
    <label for="floatingInput">Min</label>
  </div>
</div>
<div class="col-md-2">
  <div class="form-floating">
    <input type="number" class="form-control" id="floatingPassword" placeholder="valor max locação">
    <label for="floatingPassword">Máx</label>
  </div>
</div>

<div class="col-md-2">
  <div class="form-floating">
    <input class="form-control me-2" type="search" list="datalistOptions" id="exampleDataList"
      placeholder="Digite sua cidade..." aria-label="Procurar endereço">
    <label for="floatingPassword">Cidade</label>
    <datalist id="datalistOptions">
      <option value="Belo Horizonte">
      <option value="São Paulo">
      <option value="Rio de Janeiro">
      <option value="Salvador">
      <option value="Cuiaba">
    </datalist>
  </div>
</div>